$root-font:16px;
$base-font:10px;

$font-menu:'Anton', sans-serif;
$font-title:'Pacifico', cursive;
$font-content:'arial';

$green:#0f7f56;
$white:#ffffff;
$turquoise:#7ec1c1;
$darkTurquoise:#1b7e7e;
$orange:#f2884e;

/*
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;        
  border-radius: $radius
}*/
