$root-font:16px;
$base-font:10px;

$font-menu:'Anton', sans-serif;
$font-title:'Pacifico', cursive;
$font-content:'arial';

$green:#00AF77;
$white:#ffffff;
$turquoise:#7ec1c1;
$darkTurquoise:#12716C;
$orange:#f2884e;
$purple:#44266D;
$brown:#917A42;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;        
  border-radius: $radius;
  }

