@font-face {
	@font-family-base;
	@font-size-base;
	@line-height-base;

}
	html { font-size: 62.5% }

//------general Style--------------------------

#divWraperVideoSection, #divWraperAboutSection, #divWraperPortfolioSection, #divWraperContactSection{
	width:100%;
	display: table;
}
#divContentVideoSection, #divContentAboutSection, #divContentPortfolioSection, #divContentContactSection{
	max-width:960px;
	margin: 0px auto;
	padding: calc-em(10, 16) 0;
}
#videoSection .titles, #divContentAboutSection header .titles, #divContentPortfolioSection header .titles, #divContentContactSection header .titles{
	font-family:$font-title;
	font-size:6.0rem;
	text-align: Center;
	color:$white;
	margin:0;
	padding-top:calc-em(10,16);
	border-top: calc-em(1,60) dashed $white;
}
#videoSection .subTitles, #divContentAboutSection header .subTitles, #divContentPortfolioSection header .subTitles, #divContentContactSection header .subTitles, #socialIcons .subTitles{
	font-family:$font-content;
	color:$white;
	text-align: Center;
	font-size:1.6rem;
}
//---------------------Video section------------------------------

#divWraperVideoSection{
	background-color:$darkTurquoise;

	#divContentVideoSection{
		header{
			border-bottom: calc-em(1,60) dashed $white;
			#navVideoSection{
				width: calc-percent(600,960);
				margin: 0 auto;
						
					ul{
						li{
							float:left;
							list-style:none;
							margin:calc-em(30,20) calc-percent(45,600);
							font-size:2.0rem;/*20*/
							font-family:$font-menu;
							a{
								color:$turquoise;
								text-decoration:none;

						
								&:hover{
									color:$white;
									border-bottom: calc-em(3,20) solid $purple;
								}

							}
						}
					}
				}
		}

	}
	video{
		width:calc-percent(562,960);
		margin:calc-em(15,16) auto;
		border:4px solid $white ;
		display:inherit;
	}
	#presentation{
		font-family:$font-content;
		color:$white;
		h2{
			text-align:center;
			font-size:3.0rem;
		}
		h3{
			text-align:center;
			font-size:1.5rem;
		}
	}
}
#img_Up{
	position:fixed;
	left:1050px;
    top:500px;
}
	
//---------------------About Me section------------------------------

#divWraperAboutSection{
	background-color:$turquoise;

	#divContentAboutSection{
		border-top: calc-em(1,60) dashed $white;

		}
		#contentAboutSection{
			.columnAbout{
				width:calc-percent(221,960);
				float:left;
				margin:calc-em(10,16) calc-percent(9,960);
			}
		}
	}	

.columnAbout figcaption h3{
	font-family:$font-menu;
	font-size:2.5rem;
	text-align:center;
}
.columnAbout figcaption span{
	font-family:$font-content;
	font-size:1.8rem;
	text-align:center;
	display: block;
}
.columnAbout figcaption p{
	font-family:$font-content;
	font-size:1.4rem;
	text-align: justify;
}

//--------------Sprites---------
.ir{
	display: block;
	text-indent: -99999px;
}
.img_tv, .img_music, .img_clothes, .img_food{
	width: 150px;
	height: 150px;
	margin:0 auto;
}
.img_tv {
	background: url('../images/images_sprite.png') no-repeat -12px -7px;
}
.img_music{
	background: url('../images/images_sprite.png')  no-repeat -165px -7px;
}
.img_clothes{
	background: url('../images/images_sprite.png') no-repeat -317px -7px;
}
.img_food{
	background: url('../images/images_sprite.png') no-repeat -469px -7px;
}
//---------------------Portfolio section------------------------------

#divWraperPortfolioSection{
	background-color:$green;
	
	#divContentPortfolioSection{

		#contentPortfolioSection{
			figure{
			float:left;
			margin:calc-em(20,16) calc-percent(8,960);
			border:2px solid $white ;
			background-color:$white;
				&:hover{
					background-color: $purple;
					color: $white;
					border-color: $purple;

				}
			}

			}
		}

	}


//---------------------Contact section------------------------------

#divWraperContactSection{
	background-color:$darkTurquoise;

	#contentContactSection{
		form{
			width:calc-percent(500,960);
			margin:calc-em(30,16) auto;

				.form-group{
					color:$white;
					font-family:$font-content;
					font-size:1.6rem;

				label{
					font-weight:normal;
				}
			}
		#btnSubmit{
			@include border-radius(5px);
			color:$white;
			background-color:$purple;
			border:none;
			padding:calc-em(5,16);
		}
		}

	}
	#socialIcons{
		width: calc-percent(420,960);
		margin: calc-em(30,16) auto;
		a{
			width: calc-percent(80,420);
			height: calc-em(80,50);
			@include border-radius(100px);
			background-color: $white;
			font-size: 5.0rem;
			line-height: calc-em(77,50);
			text-align: center;
			text-decoration: none;
			color:$darkTurquoise;
			&:hover{
				background-color: $purple;

			}
		}
	}
}
//---------------------Clearfix------------------------------
.clearfix:after,.clearfix:before{
	content: '';
	display: table;
}
.clearfix:after {
	clear: both
}
//-------------------media queries----------------------/
@media (max-width: 768px){

#divWraperVideoSection{
	background-color:$darkTurquoise;

	#divContentVideoSection{
		header{
			border-bottom: calc-em(1,60) dashed $white;
			
			#navVideoSection{
				width:calc-percent(960,960);
				margin: 0 auto;
						
					ul{
						margin-left: 145px;
						li{
							margin:calc-em(10,20) calc-percent(30,600);
							font-size:1.6rem;/*20*/
						}
					}
			}
		}

	}
}
#divWraperContactSection{

#socialIcons{
		width:calc-percent(400,960);
		margin: calc-em(10,16) auto;
		a{
			width: calc-percent(50,420);
			height: calc-em(25,16);
			@include border-radius(0px);
			font-size: 2.0rem;
			margin-left: calc-percent(15,420);

		}
	}
}
}

@media (max-width: 480px){
	#divWraperVideoSection{
		#divContentVideoSection{
			header{				
				#navVideoSection{
					width:calc-percent(960,960);
					margin: 0 auto;	
						ul{
							margin-left: 30px;
						}
				}
			}

		}
}
.ir{
	display: block;
	text-indent: -99999px;
}
.img_tv, .img_music, .img_clothes, .img_food{
	width: 106px;
	height: 106px;
	margin:0 auto;
}
.img_tv {
background: url('../images/images_sprite480.png') no-repeat -13px -11px;
}
.img_music{
	background: url('../images/images_sprite480.png') no-repeat -122px -10px;
}
.img_clothes{
	background: url('../images/images_sprite480.png') no-repeat -231px -11px;
}
.img_food{
	background: url('../images/images_sprite480.png') no-repeat -341px -8px;
}
.columnAbout figcaption h3{
	font-size:2.0rem;

}
.columnAbout figcaption span{	
	font-size:1.6rem;
}
.columnAbout figcaption p{
	font-size:1.2rem;;
}

}